*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.all{
    width: 100px;
    height: 100px;
    border: 2px solid ;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}
#dimond{
    rotate: 45deg;
    margin-left: 15px;
}
#dimond h1{
    rotate: -45deg;
}
#circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#square:hover{
    background-color: red;
}
#dimond:hover{
    background-color: rgb(8, 238, 62);
}
#circle:hover{
    background-color: gray;
}



